<article class="micropost">
  <div class="mp-meta">
    Posted {{ .Date.Format "3:04 PM Monday, 2 Jan 2006 MST" }}
    {{ if (isset .Params "categories") }}
    <div class="categories">
      {{ range $i, $v := .Params.categories }}
      <!-- FIXME figure out links to categories -->
      <!-- <a class="category" href="/categories/{{ $v | urlize }}"> -->
      #{{ $v }}
      <!-- </a> -->
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="mp-content">
    {{ .Content }}
  </div>
  {{ with .Resources.ByType "image" }}
  <div class="Image">
    {{ range $currImg := . }}
    {{/* strips EXIF and saves some space */}}
    {{ $largeImage := $currImg.Fit "2000x2000" }}
    {{ $mediumImage := $currImg.Fit "600x400" }}
    <a href="{{ $largeImage.RelPermalink }}">
      <img src="{{ $mediumImage.RelPermalink }}">
    </a>
    {{ end }}
  </div>
  {{ end }}
  <a href='{{ .Permalink }}'>
    <span>Permalink</span>
  </a>
</article>
